<div>
  <div>
    <select>
      <option>option 1</option>
      <option>option 2</option>
    </select>
    <button>START</button>
  </div>
  <div>
    <div>
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>
    <div>
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>
    <div>
      <app-cell></app-cell>
      <app-cell></app-cell>
      <app-cell></app-cell>
    </div>
  </div>
</div>
<div>
  <h2>Hover Squares</h2>
  <ul>
    <li>item 1</li>
    <li>item 2</li>
  </ul>
</div>
