<div>
  <div>
    <select [(ngModel)]="selectedModeId">
      <option value="" disabled>Pick mode</option>
      <option *ngFor="let mode of modes" [value]="mode.id">{{ mode.name }}</option>
    </select>
    <button (click)="onStart()">START</button>
  </div>
  <div>
    <div *ngFor="let row of [].constructor(size)">
      <app-cell *ngFor="let col of [].constructor(size)"></app-cell>
    </div>
  </div>
</div>
<div>
  <h2>Hover Squares</h2>
  <ul>
    <li>item 1</li>
    <li>item 2</li>
  </ul>
</div>
